body {
    margin: 0;
    padding: 0;
    background-image: url("wallpaper.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
}

#game {
    position: relative;
    margin: 50px auto;
    width: 600px;
    height: 600px;
    border: 2px solid #333;
    background-color: #F4BEB9;
}

#results {
    margin-top: 150px;
    font-size:24px;
    background-color: #ee948d;
    border-radius: 10px;
    cursor: pointer;
}

button {
    padding: 10px 20px; 
    margin: 10px;
    font-family: Poppins, bold;
    width: 200px;
    height: 200px;
    font-size:30px;
    background-color: #ee948d;
    border-radius: 10px;
    cursor: pointer;
}
