body {
    margin: 0;
    padding: 0;
    background-image: url("wallpaper.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
}

#game {
    position: relative;
    margin: 50px auto;
    width: 500px;
    height: 520px;
    border: 2px solid #333;
    background-color: #F4BEB9;
}

#results {
    margin-top: 40px;
    font-size:24px;
    background-color: #ee948d;
    border-radius: 10px;
    cursor: pointer;
}

#computerscore {
    position: absolute;
    top: 675px;
    left: 700px;
    font-size:24px;
    background-color: #ee948d;
    border-radius: 10px;
    cursor: pointer;
}

#myscore {
    position: absolute;
    top: 675px;
    left: 800px;
    font-size:24px;
    background-color: #ee948d;
    border-radius: 10px;
    cursor: pointer;
}



button {
    padding: 10px 20px; 
    margin: 10px;
    font-family: Poppins, bold;
    width: 200px;
    height: 200px;
    font-size:30px;
    background-color: #ee948d;
    border-radius: 10px;
    cursor: pointer;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 300px;
    gap: 10px;
}

.image-container img {
    width: 100%;
    height: auto;
}

.image-container img:hover {
    transform: scale(1.3);
}

